$primarybtntextColor: rgba(0, 0, 0, 0.84);
// $primarybtnBgColor: #1ebea5;
$primarytextColor: white;
$primarybtnBgColor: linear-gradient(262deg, #ff7854, #fd267d);
$primarybtnBghover: linear-gradient(to right, #3ec7e0, #526bf4);
$secondarybtnBgColor: #e6375a;
// $primarybtnBgColor: rgba(3, 168, 124, 1);
$primarybtntext: rgba(255, 255, 255, 1);
$footertext: #003569;
$copytext: #999;
$quizsetTextbg: #0bceaf;
